<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" >
  <link href="./css/HomePageCss.css" type="text/css" rel="stylesheet" />
</head>
<body>

<div class="navbar">
  <a href="login">Home</a>
  <a href="jsonTestData.ejs">Json TestData</a>
  <a href="">More</a>
</div>

<div class="main">
 <div class="basic-table-div">
  <table class="basic-table">
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      </tr>
      <tr>
      <td>Jill</td>
      <td>Smith</td>
      </tr>
      </table>
  </div>
</div>

</body>
</html>
